.banner-section {
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3)
        url("https://images.unsplash.com/photo-1587860238287-9186c98aa254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80")
        fixed no-repeat center;
    .shoe-cont {
<<<<<<< HEAD
        position: static;
=======
        img {
            width: 25%;
        }
>>>>>>> parent of ffc5f17... updated icon
        h2 {
            position: absolute;
            color: #fff;
            top: 400px;
            right: 0px;
            left: 0px;
            bottom: 50px;
            font-size: 30px;
        }
    }
<<<<<<< HEAD
}
.c-icon {
    font-size: 14px;
    color: white;
    position: absolute;
    border: solid orange;
    height: 17px;
    width: 17px;
    z-index: 4;
    padding-top: 0px;
    border-radius: 70%;
    margin-left: 39px;
    background: orange;
}
.icon {
    font-size: 54px;
    color: grey;
=======
>>>>>>> parent of ffc5f17... updated icon
}
