.banner-section {
    height: 300px;
    width: 100%;

    .shoe-cont {
        img {
            width: 25%;
        }
        h2 {
            position: relative;
            right: 0px;
            left: 0px;
            bottom: 50px;
        }
    }
}
