.header {
    height: 65px;
    background: #7e5aa7;
    width: 100%;
    overflow: hidden;

    .logo {
        margin-top: 10px;
        color: #fff;
        a {
            color: #fff;
            font-weight: 700;
            font-size: 19px;
            text-decoration: none;
            margin-left: 20px;
        }
    }
    .nav-routes {
        .link {
            margin-top: 10px;
            font-weight: 600;
            padding: 0 14px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 17px;
            color: #fff;
            margin-right: 25px;
            &:last-child {
                margin-right: 40px;
            }
        }
    }
}
