.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s !important;
    background: rgb(238, 224, 224);
    border-radius: 10px;
    margin: 19px;
    &:hover {
        box-shadow: 0 8px 16px 0 #7e5aa7;
        transform: scale(1.05);
    }
    img {
        width: 100%;
        height: 60%;
        margin-top: -20px;
        overflow: hidden;
    }
    .btn {
        border: none;
        border-radius: 5px;
        background-color: #7e5aa7;
        color: #fff;
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        transition-duration: 0.3s;
        &:hover {
            background-color: purple;
            color: white;
        }
    }
}
