@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/items.scss";
@import "./components/itemDetail.scss";
@import "./components/basket.scss";

html,
body {
    visibility: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";
    background: #333;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
}

.space-between {
    justify-content: space-between;
}

.v-center {
    align-items: center;
    text-align: center;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    h4 {
        font-size: 26px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #333;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        height: 40px;
        padding: 4px;
        width: 90px;
        transition: 0.5s;
        &:hover {
            color: #000000;
            background: #ccc;
        }
    }
}
